
* {
  font-family: "new-spirit", serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: black;
}

.cursor {
  top: 50%;
  left: 50%;
  background: linear-gradient(to right, rgb(232, 200, 22), rgb(255, 76, 40));
  height: 60%;
  aspect-ratio: 1;
  border-radius: 50%;
  animation: rotate 10s infinite;
  z-index: 1;
  position: fixed;
  transform: translate(-50%, -50%);
  scale: 1, 1.2;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  50% {
    transform: translate(-50%, -50%) scale(1,1.2) rotate(180deg);
  }

  100% {
    transform: translate(-50%, -50%)  rotate(360deg);
  }
}