.about-container{
    z-index: 2;
    height: 100%;
}

.about-container, .contact-container {
    margin: 15vh 10% 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    position: relative;
    z-index: 2;
    max-width: 100%;
  }


.about-text-container p, .contact-text-container p {
    position: relative;
    font-size: 1.8rem;
    font-weight: 500;
    color: rgb(255, 246, 232);  
    z-index: 2; 
    background-color: none;
    margin: 1rem 0
}

@media (max-width: 640px){
    .about-text-container p, .contact-text-container p {
        font-size: 4vw;
    
    }
  }