.indiv-project-container{
    z-index: 2
}

.project-image{
    max-width: 100%;
    z-index: 2;
}

.project-title{
    color: rgb(255, 246, 232); 
    font-size: 2rem;
    font-weight: 600;
}

.project-tech{
    color: rgb(255, 76, 40);
}

.project-desc{
    color: rgb(255, 246, 232); 
    font-size: 1rem;
    font-weight: 400;
}